<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="product.css">
    <title>Document</title>
</head>

<body>
    <div class="product_wrapper">
        <div class="product">
            <img src="https://ecshopvietnam.com/ecshopmi/cdn/images/202204/thumb_img/xiaomi-redmi-note-11s-5g-thumb-G4305-1650508487085.jpg" alt="" />
            <span class="discount">-2%</span>
            <p>Xiaomi Redmi Note</p>
            <span><strong>20.490.000</strong></span>
            <span style="font-size: 12px;"><del>20.000.000</del></span>

        </div>
        <div class="product">
            <img src="https://ecshopvietnam.com/ecshopmi/cdn/images/202204/thumb_img/xiaomi-redmi-note-11s-5g-thumb-G4305-1650508487085.jpg" alt="" />
            <span class="discount">-2%</span>
            <p>Xiaomi Redmi Note</p>
            <span><strong>20.490.000</strong></span>
            <span style="font-size: 12px;"><del>20.000.000</del></span>

        </div>
        <div class="product">
            <img src="https://ecshopvietnam.com/ecshopmi/cdn/images/202204/thumb_img/xiaomi-redmi-note-11s-5g-thumb-G4305-1650508487085.jpg" alt="" />
            <span class="discount">-2%</span>
            <p>Xiaomi Redmi Note</p>
            <span><strong>20.490.000</strong></span>
            <span style="font-size: 12px;"><del>20.000.000</del></span>

        </div>
        <div class="product">
            <img src="https://ecshopvietnam.com/ecshopmi/cdn/images/202204/thumb_img/xiaomi-redmi-note-11s-5g-thumb-G4305-1650508487085.jpg" alt="" />
            <span class="discount">-2%</span>
            <p>Xiaomi Redmi Note</p>
            <span><strong>20.490.000</strong></span>
            <span style="font-size: 12px;"><del>20.000.000</del></span>

        </div>
    </div>
</body>

</html>