/* a.navbar-brand {
    font-size: 25px;
    padding-top: 15px;
}

a.nav-link {
    font-size: 15px;
} */

.container img {
    width: 180px;
}

.container {
    display: flex;
    padding: 15px;
    background-color: #032541;
}

.dropdown-content {
    font-size: 17px;
    outline-style: none;
    padding-left: 20px;
    color: white;
}

.header-content {
    display: flex;
}

header {
    background-color: #032541;
}

a {
    text-decoration: none;
    color: #333;
}

a.dropdown-item {
    font-size: 16px;
    width: 145px;
    padding-left: 16px;
}